################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestDemoMVCCodeFirst/.vs/TestDemoMVCCodeFirst/v15/Server/sqlite3
